body, html{
  height:100%;
  background-image: url(concrete.jpg);
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
}
.dancer.blinky{
  content: url('blinky.gif');
  border-radius:10px;
  position:absolute;
}
.dancer.psycho{
  content: url('psycho-dancer.png');
  height: 100px;
  position:absolute;
}
.dancer.wormy{
  border:10px solid purple;
  border-radius:10px;
  position:absolute;
}
